section{
  text-align: center;
}
.about, .story{
  background: linear-gradient(to right, #8227c4, #e93b3d);
  color: white;
  padding: 60px ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.glance .stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
h2{
  margin-bottom: 20px;
}
.stat {
  flex: 1 1 30%;
}
.stat span {
  font-size: 28px;
  font-weight: bold;
  color: #b01f63;
}

.stat img {
  width: 70px;
  height: 70px;
}

.story img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .stat {
    flex: 1 1 100%;
    margin-bottom: 1rem;
  }

  .story-content {
    flex-direction: column;
  }
}