.except{
  color: rgb(240, 240, 240);
  font-size: 12px;
  padding-top: 7px;
}
section img{
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
h2{
  margin-bottom:20px;
}
h3{
  margin: 15px 0;
}

section ul{
  padding-left: 30px;
}
section, .account-details{
  background: linear-gradient(to right, #8227c4, #e93b3d);
  color: white;
  margin-bottom: 20px;
  padding:30px;
  border-radius: 50px;
}
p>a{
  color: white;
  text-decoration: none;
}
