
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 0 2rem 2rem;
}

.product-card {
  flex: 1 1 1 1;
  min-width: 255px;
  scroll-snap-align: start;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  background-color: grey; /*delete this line once images uploaded*/
}

.product-card:hover {
  transform: translateY(-4px);
}

.product-img {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-info {
  color: white;
  padding: 10px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  background: linear-gradient(to top, rgba(0,0,0,0.85) 30%, rgba(0,0,0,0.6) 60%,transparent 100%);
  align-items: center;
}

.name {
  font-weight: 500;
  margin-bottom: 5px;
}

.price {
  font-weight: bold;
  margin-bottom: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.actions img {
  cursor: pointer;
  color: #444;
}